<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./style.css">
    <title>Hackaton2</title>
  </head>
  <body>
    <h1>Hackaton 2</h1>
    <div class="jumbotron">
      <div class="container"><h1>Hello, the world!</h1></div>
    </div>

  </body>
</html>
