html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px auto;
}

#nav {
    display: flex;
    justify-content: center;
}

#nav a {
    text-decoration: none;
    margin: 0 20px 0 0;
}

h1 {
    color: powderblue;
}

.root {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 18px;
}


.red {
    color: red;
}
.green {
    color: green;
}
.orange {
    color: orange
}


/* Style the close button */
.item {
    align-self: center;
  }
  
.del:hover {
    background-color: #f44336;
    color: white;
    cursor: pointer;
  }

.check:hover {
    background-color: green;
    color: white;
    cursor: pointer;
  }



.task {
    display: grid;
    grid-template-columns: [task] 500px [Starting Date] 150px [Days remaining] 100px [Completed] 100px [Delete] 40px [Complete] 40px [end];
    grid-gap: 10px;  
}